absl-py==2.1.0
astor==0.8.1
asttokens==2.4.1
backcall==0.2.0
-e git+https://github.com/Rymoon/bert4keras.git@2072f06dd410ea885a9c6850ba539effce50b22b#egg=bert4keras
cloudpickle==3.1.0
comm==0.2.2
contourpy==1.1.1
cycler==0.12.1
debugpy==1.8.7
decorator==5.1.1
executing==2.1.0
fonttools==4.54.1
gast==0.2.2
google-pasta==0.2.0
grpcio==1.67.0
h5py==3.11.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipykernel==6.29.5
ipython==8.12.3
jedi==0.19.1
jupyter_client==8.6.3
jupyter_core==5.7.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
Levenshtein==0.25.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.5.3
matplotlib-inline==0.1.7
mdurl==0.1.2
nest-asyncio==1.6.0
numpy==1.18.5
nvidia-cublas==11.3.0.106
nvidia-cuda-cupti==11.1.105
nvidia-cuda-nvcc==11.1.105
nvidia-cuda-nvrtc==11.1.105
nvidia-cuda-runtime==11.1.74
nvidia-cudnn==8.0.5.43
nvidia-cufft==10.3.0.105
nvidia-curand==10.2.2.105
nvidia-cusolver==11.0.1.105
nvidia-cusparse==11.3.0.10
nvidia-dali-cuda110==0.28.0
nvidia-dali-nvtf-plugin==0.28.0+nv20.12
nvidia-horovod==0.20.2+nv20.12
nvidia-nccl==2.8.3
nvidia-pyindex==1.0.9
nvidia-tensorboard==1.15.0+nv20.12
nvidia-tensorflow==1.15.4+nv20.12
nvidia-tensorrt==7.2.2.1
opencv-python==4.10.0.84
opt_einsum==3.4.0
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
protobuf==3.19.4
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
PyYAML==6.0.2
pyzmq==26.2.0
rapidfuzz==3.9.7
regex==2024.9.11
-e git+ssh://git@github.com/Rymoon/Ren-Utils.git@463c38814aa8d6463300e1c75658bcb7daa28ae0#egg=ren_utils
rich==13.9.2
scipy==1.9.3
six==1.16.0
-e git+https://github.com/Rymoon/DDPM-SuJL.git@8a1419f94beb364989009f9ae870f9e8bf532cc3#egg=sjldpm
stack-data==0.6.3
tensorboard @ https://pypi.ngc.nvidia.com/tensorboard/tensorboard-1.15.0-py2.py3-none-any.whl#sha256=413865fcdf03e693de43372be1fe64b37f0982d792cbd80bbec2bd06572413ac
tensorflow-estimator==1.15.1
termcolor==2.4.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.4
wrapt==1.16.0
zipp==3.20.2
